*{
    margin: 0;
    padding: 0;
}
body{width:1500px;}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1300px;
    margin: auto;
}

/*  Begain main css  */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}

.header-section {
    background-color:skyblue;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
  
}
.header-section a{
    color: #fff;
}
.header-logo{
    width: 30%;
}
.logo img {
    height: 60px;
    float: left;
    margin-right: 10px;
}
.logo span {
    display: inline-block;
    margin-top: 14px;
    font-size: 26px;
    font-weight: 500;
}
.header-menu {
    width: 56%;
}
.header-button {
    width: 14%;
    text-align: right;
}
.header-btn {
    border: 2px solid #6278df;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 8px;
    color: #fff !important;
    font-size: 17px;
    font-weight: 600;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
    position:relative;
   
}
.primary-menu ul li a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    line-height: 60px;
}
.primary-menu ul li ul{width:100px;
height:100px;
left:0;
top:100%;
position:absolute;
background-color:skyblue;
opacity:0;
visibility:hidden;
transition:0.5s;
transform:scaleY(0);
transform-origin:top center;}
.primary-menu ul li ul li{display:inline-block;}
.primary-menu ul li ul li a{display:block;}
.primary-menu ul li:hover ul{
opacity:1;
visibility:visible;
transform:scaleY(1);
}
.banner-section::after{content:"";
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:rgba(44, 58, 71,.5);
z-index:-1;}
.banner-section{background:url(images.jpg);
background-repeat:no-repeat;
padding:60px 0px;
background-size:cover;
color:dodgerblue;
position:relative;
z-index:9;}
.banner-content{}
.banner-content h1{
font-size:30px;
padding:50px 30px;}
.banner-content h3{font-size:20px;
padding:10px 0;}
.default-btn{
border:1px solid #ddd;
padding:15px 25px;
margin:8px;
font-size:20px;
color:#fff;
background-color:#e84393;
border-radius:10px;
display:inline-block;
font-weight:500;
}
.default-btn:hover{background-color:dodgerblue;}
.mid-banner{background:rgba(241, 242, 246,1.0);
padding:15px;}
.photo img{width:200px;
height:auto;
float:left;}
.photo{width:48%;}
.content-left{width:48%;}
.content-left h3{font-size:30px;
font-weight:500;
margin-bottom:25px;}
.content-left p{font-size:20px;
font-weight:400;
line-height:30px;
color:#ddd;}


/*service*/
.service-section{background:rgba(243, 166, 131,.5);
padding:100px 0;}
.title h1{font-size:30px;
font-weight:500;
color:rgba(123, 237, 159,1.0);
margin-bottom:20px;}
.title p{color:rgba(123, 237, 159,1.0);}

/*services*/

.services{margin-top:50px;}
.service-box{width:33.3%;
box-shadow:4px 4px 8px 0 rgba(243,166,131,1.0);
margin-right:3%;
margin-bottom:20px;
padding:50px 80px;
box-sizing:border-box;}

.service-icon{width:80px;
height:120px;
float:left;
font-size:60px;
color:dodgerblue;}
.service-content{margin-top:17px;}
.service-content h3{font-size:30px;
font-weight:500;
margin-bottom:30px;}
.service-content p{
font-size:15px;
line-height:20px;
color:dark;
font-weight:400;
}